.App {
  text-align: center;
}

.operation-container {
  display: flex;
  margin: auto;
  width: 60%;
  flex-direction: column;
  border-radius: 3px;
  padding: 4px;
}

.operation-container input {
  width: 75%;
  margin: auto;
}

.operation-container button {
  width: 50%;
  margin: 4px auto;
  background-color: greenyellow;
}

.operation-container .red {
  width: 50%;
  margin: 4px auto;
  background-color: lightcoral;
}

.positive {
  color: green
}

.negative {
  color: red;
}

.operation-container .btns-container {
  width: 75%;
  margin: auto;
}